@import url('rayout.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Noto Sans JP;
}

main{
	color: #252525;
}

.profile{
	padding: 3vw;
}

.profile-title{
	display: flex;
}

.profile-title h3{
	font-weight: bold;
}

.profile-title span{
	display: inline-block;
	width: 5px;
	height: 28px;
	background-color: #6667AB;
	margin-right: 1vw;
}

.self-introduction{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.self-introduction img{
	margin-top: 5vh;
	width: 30%;
}

.self-introduction h4{
	margin-top: 5vh;
	font-weight: bold;
	margin-bottom: 5vh;
}

.self-introduction h4 span{
	color: #6667AB;
}

.self-introduction p{
	text-align: center;
	font-size: 20px;
}

.self-introduction ul{
	list-style: none;
	margin: 3vh 0;
}
