@import url('rayout.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Noto Sans JP;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

.top-visual{
	padding: 3vw 5vw;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.top-visual h1{
	font-weight: 800;
	color: #252525;
	font-size: 86px;
}

.top-visual h2{
	font-weight: bold;
	color: #6667AB;
}

.works{
	padding: 3vw;
}

.works-title{
	display: flex;
}

.works-title h3{
	font-weight: bold;
}

.works-title span{
	display: inline-block;
	width: 5px;
	height: 28px;
	background-color: #6667AB;
	margin-right: 1vw;
}

.works ul li{
	margin: 10vh 0 15vh 0;
	display: flex;
}

.work-img{
	width: 50%;
}

.work-img img{
	width: 100%;
}

.work-introduction{
	font-family: Noto Sans JP;
	margin: 3vw 0 0 3vw;
	padding: 0 3vw 3vw 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.work-introduction h4{
	font-weight: bold;
}

.work-introduction button {
	padding: 1% 4%;
	border-radius: 15px;
	border: none;
	background-color: #6667AB;
	color: white;
	align-self: start;
}

.profile{
	padding: 3vw;
}

.profile-title{
	display: flex;
}

.profile-title h3{
	font-weight: bold;
}

.profile-title span{
	display: inline-block;
	width: 5px;
	height: 28px;
	background-color: #6667AB;
	margin-right: 1vw;
}

.profile-detail{
	display: flex;
	margin: 10vh 0;
}

.my-img{
	width: 50%;
	display: flex;
	justify-content: center;
}

.my-img img{
	width: 50%;
}

.self-introduction{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.self-introduction h2{
	font-weight: bold;
	margin-bottom: 5vh;
}

.self-introduction h2 span{
	color: #6667AB;
}

