*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Noto Sans JP;
}

/* ヘッダー部分 */
header{
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vw;
	height: 15vh;
}

header h1{
	font-weight: bold;
	font-size: 33px;
	color: #6667AB;
}

.header-list{
	display: flex;
	list-style: none;
	font-size: 20px
}

.header-list li {
	margin: 0 2vw;
	color: #252525;
	cursor: pointer;
}

.header-list a{
	color: #252525;
}

.header-list a:hover{
	color: #6667AB;
}

#works-has-list {
	display: none;
	position: absolute;
	font-size: 15px;
	font-weight: normal;
	list-style: none;
}

#works-has-list li a{
	color: #6667AB;
}

#works-has-list.visible{
	display: block;
	margin-top: 1vh;
}

main{
	color: #252525;
}

.top-visual{
	padding: 3vw;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.top-visual h1{
	font-weight: bold;
	color: #252525;
	font-size: 56px;
}

.top-visual h2{
	font-weight: bold;
	color: #6667AB;
}

.works{
	padding: 3vw;
}

.works-title{
	display: flex;
}

.works-title h3{
	font-weight: bold;
}

.works-title span{
	display: inline-block;
	width: 5px;
	height: 28px;
	background-color: #6667AB;
	margin-right: 1vw;
}

.works ul li{
	margin: 10vh 0 15vh 0;
	display: flex;
}

.work-img{
	width: 50%;
}

.work-img img{
	width: 100%;
}

.work-introduction{
	font-family: Noto Sans JP;
	margin: 3vw 0 0 3vw;
	padding: 0 3vw 3vw 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.work-introduction h4{
	font-weight: bold;
}

.work-introduction button {
	padding: 1% 4%;
	border-radius: 15px;
	border: none;
	background-color: #6667AB;
	color: white;
	align-self: start;
}

.profile{
	padding: 3vw;
}

.profile-title{
	display: flex;
}

.profile-title h3{
	font-weight: bold;
}

.profile-title span{
	display: inline-block;
	width: 5px;
	height: 28px;
	background-color: #6667AB;
	margin-right: 1vw;
}

.profile-detail{
	display: flex;
	margin: 10vh 0;
}

.my-img{
	width: 50%;
	display: flex;
	justify-content: center;
}

.my-img img{
	width: 50%;
}

.self-introduction{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.self-introduction h2{
	font-weight: bold;
	margin-bottom: 5vh;
}

.self-introduction h2 span{
	color: #6667AB;
}

footer {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #6667AB;
}

footer p{
	color: white;
	margin-bottom: 1%;
}