@import url('styles.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Noto Sans JP;
}

main{
	color: #252525;
}

.works-vanity{
	padding: 3vw;
}

.works-title{
	display: flex;
}

.works-title h3{
	font-weight: bold;
}

.works-title span{
	display: inline-block;
	width: 5px;
	height: 28px;
	background-color: #6667AB;
	margin-right: 1vw;
}

.works-detail {
	margin: 5vh 0 15vh 0;
}

.works-detail img {
	width: 60%;
}

.works-detail h5{
	margin-top: 5vh;
}

.make-detail {
	list-style: none;
	margin-top: 8vh;
}

footer {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #6667AB;
}

footer p{
	color: white;
	margin-bottom: 1%;
}